terraform.tfstate
terraform.tfstate.backup
deployment/aws/.terraform

# python stuff
__pycache__/
.vscode/
.DS_Store

# rasa stuff
venv/
results/
models/
.pytype/
*.db
*.db-shm
*.db-wal
gactions
credentials.yml
results.md
creds.data